<div class="container">
  
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cPXx5qkhl0U?autoplay=1"></iframe>
  </div>
</div>
      <div class="space-200">&nbsp;</div>
      <div class="donet-error-page text-center">
                                <h3>Want to donate? <span>It’s time to show your humimility</span></h3>
                                  <%= image_tag 'title-bottom.png', alt:""%>
                            </div>

                

     <section class="up-comming-area  pt-90 pb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="up-comming-events">
                                <!-- Start single event -->
                               
                                <!-- End single event -->
                                 <!-- Start single event -->
                               
                                <!-- End single event -->
                                 <!-- Start single event -->
                             
                                <!-- End single event -->
                                 <!-- Start single event -->
                                <div class="single-event mb-90 row">
                                    <div class="col-sm-5">
                                        <div class="event-image">
                                        <%= image_tag 'fam.png', alt: ""%>
                                            
                                            
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="event-text">
                                            <h3><a href="events.html#">We need your help to raise</a></h3>
                                            <div class="event-time-and-place">
                                                <span class="ev-place"> <i class="fa fa-money" aria-hidden="true"></i> Our Goal is 30,000</span>


                                                <span class="ev-time"> <i class="fa fa-clock-o" aria-hidden="true"></i> Before June 13th 2017</span>
                                                
                                            </div>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                                            <!-- <a class="btn-md bo-ra-5" href="events.html#">Donate</a> -->
                                            <!-- <a class="waves-effect waves-light" href="events.html#"> -->

  <%= form_tag charges_path do %>
  <div id="error_explanation">
    <% if flash[:error].present? %>
      <p><%= flash[:error] %></p>
    <% end %>
  </div>
  <article>
    <%= label_tag(:amount, 'Donation Amount:') %>
    <%= text_field_tag(:amount) %>
  </article>
  <article>
    <%= hidden_field_tag(:stripeToken) %>
  </article>
  <button id='donateButton' class="btn-md bo-ra-5">
  <span>Donate</span>
<% end %>

<script src="https://checkout.stripe.com/checkout.js"></script>

<script>
var handler = StripeCheckout.configure({
  key: '<%= Rails.configuration.stripe[:publishable_key] %>',
  locale: 'auto',
  name: 'Instafamous The Movie',
  description: 'One-time donation',
  token: function(token) {
    $('input#stripeToken').val(token.id);
    $('form').submit();
  }
});

$('#donateButton').on('click', function(e) {
  e.preventDefault();

  $('#error_explanation').html('');

  var amount = $('input#amount').val();
  amount = amount.replace(/\$/g, '').replace(/\,/g, '')

  amount = parseFloat(amount);

  if (isNaN(amount)) {
    $('#error_explanation').html('<p>Please enter a valid amount in USD ($).</p>');
  }
  else if (amount < 1.00) {
    $('#error_explanation').html('<p>Donation amount must be at least $1.</p>');
  }
  else {
    amount = amount * 100; // Needs to be an integer!
    handler.open({
      amount: Math.round(amount)
    })
  }
});

// Close Checkout on page navigation
$(window).on('popstate', function() {
  handler.close();
});
</script>                                          

                                            
  
                                           
                                        </div>
                                    </div>
                                </div>
                                <!-- End single event -->
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- End up comming area -->
            <!-- Start brand logo area -->
            <section class="brand-logo-area pb-90">
                <div class="container">
                    <div class="row">
                        <!-- Start section title -->
                        <div class="col-sm-12">
                            <div class="section-title text-center">
                                <h2>Support <span>Veterans</span></h2>
                                <%= image_tag 'title-bottom.png', alt:""%>
                            </div>
                        </div>
                        <!-- End section title -->
                        <!-- Start brand logo -->
                        <div class="brand-logo">
                            <div class="col-sm-2">
                                <div class="b-logo">
                                    <%= image_tag 'navy.png', alt:""%>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="b-logo">
                                    <%= image_tag 'army.png', alt:""%>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="b-logo">
                                    <%= image_tag 'airforce.png', alt:""%>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="b-logo">
                                    <%= image_tag 'df.png', alt:""%>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="b-logo">
                                   <%= image_tag 'coastguard.png', alt:""%>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="b-logo">
                            <%= image_tag 'marine.png', alt:""%>
                                </div>
                            </div>
                        </div>
                        <!-- End brand logo -->
                    </div>
                </div>
            </section>
         <!-- end of payment options -->




              <section class="slider-animate-area pb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="cd-intro">
                                <h1 class="cd-headline clip is-full-width title1 wow zoomIn animated" data-wow-duration="1s" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1s; animation-delay: 300ms; animation-name: zoomIn;">
                                    <span>Discover Whats  </span>
                                    <span class="cd-words-wrapper">
                                        <b class="is-visible">Real</b>
                                        <!-- <b>VS</b> -->
                                        <b> Reality </b>
                                    </span>
                                </h1>
                                <p class="wow zoomIn animated" data-wow-duration="1s" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1s; animation-delay: 600ms; animation-name: zoomIn;">We need to raise $20,000 in order to bring our idea to life, but we cant do it by ourselves. We need you to reach deep in your pockets..</p>
                                <div class="slider-button-area wow zoomIn animated" data-wow-duration="1s" data-wow-delay="900ms" style="visibility: visible; animation-duration: 1s; animation-delay: 900ms; animation-name: zoomIn;">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

             <div class="space-200">&nbsp;</div>  
            <!-- End help us area -->
            <!-- Start our gallery -->
            
            <!-- End our gallery -->
            <!-- Start countdown area -->
            
            <!-- End countdown area -->
            <!-- Start our volunteers area -->
         
         
          <!-- <script type="text/javascript">
              /* magnificPopup */
              /* magnificPopup */
    $('.popup-youtube').magnificPopup({
        disableOn: 700,
        type: 'iframe',
        mainClass: 'mfp-fade',
        removalDelay: 160,
        preloader: false,
        fixedContentPos: false
    });
  
    </script> 





  <script type="text/javascript">
              /* youtube background*/
              $(".youtube-bg").YTPlayer({
            containment:'.youtube-bg',
            autoPlay:true,
            loop:true,
        });
 
 </script> 
  






          
            <script>
          new WOW().init();
        </script>


 -->